/* Variables */
:root {
    --content-max-width: 700px;
    --sidebar-width: 300px;
    --side-margins: 50px;
    --footer-height: 100px;
    --button-img-width: 42px;
    --accent-color: #1c558a;
    --note-color: #b8d1ee;
    --note-example-color: #91bfa4;
    --note-alert-color: #c98787;
    --note-warning-color: #deb801;
    --ref-color: #d16a6a;
    --text-color: #222222;
}
/* Buttons 42px from 128px png file*/
.button  {
    width: 42px;
    height: 42px;
    border-radius: 25px;
    background-color: black;
    opacity: 0.6;
    cursor: pointer;
}
.button.selected {
    background-color: #e3e4ff;
}
.button a {
    display: contents;
    width: inherit;
    height: inherit;
}
#sb-header-buttons {
    bottom: 0;
    position: absolute;
    left: 0;
    padding: 0 6px;
    --button-img-width: 32px;
}
#sb-header-buttons .button {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 25px;
    bottom: 6px;
}
.button#toggle-sb {
    position: fixed;
    top: 12px;
    right: calc(100% - var(--content-max-width) - var(--side-margins));
    border-radius: 30px;
    z-index: 3;
}
.button#stop-slides {
    position: fixed;
    top: 12px;
    right: 12px;
    border-radius: var(--button-img-width);
    z-index: 200;
}
.button img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0.8;
}
.button#itineraries img {
    object-position: calc(-0 * var(--button-img-width)) 0px;
}
.button#toggle-long img {
    object-position: calc(-1 * var(--button-img-width)) 0px;
}
.button#play-slides img {
    object-position: calc(-2 * var(--button-img-width)) 0px;
}
.button#stop-slides img {
    object-position: calc(-3 * var(--button-img-width)) 0px;
}
.button#toggle-sb img {
    object-position: calc(-4 * var(--button-img-width)) 0px;
}
.button#previous img {
    object-position: calc(-6 * var(--button-img-width)) 0px;
}
.button#next img {
    object-position: calc(-7 * var(--button-img-width)) 0px;
}
/* Simple pages no-toc */
.no-toc {
    padding: 0px;
    width: 100%;
}
.no-toc #sidebar {
    height: 54px;
    padding: 0px;
    width: calc(var(--content-max-width) + 2 * var(--side-margins));
    overflow: hidden;
    left: 0px !important;
    transition: none;
}

.no-toc .button {
    display: none !important;
}
/* Toggles */
.toggle::before {
    content: attr(data-label);
    cursor: pointer;
}
.toggle > * {
    display: none;
}
.toggle:focus > * {
    display: revert;
}
.note.toggle {
    width: fit-content;
    padding: 2px 4px;
}
.note.toggle span.math { /* Problem with math size */
    font-size: 0.9em;
}
.note.toggle:focus {
    width: initial;
    padding: 0px 16px 1px;
}
.note.toggle::before {
    padding: 0px 0px;
    left: -1px;
    top: 0px;
    background-color: initial;
    cursor: pointer;
}
.note.toggle:focus::before {
    padding: 2px 6px;
    left: -19px;
    background-color: var(--note-color);
    top: 0px;
}
/* Style */
body {
    margin: 0;
    max-width: 100%;
    padding: 0px;
    text-align: justify;
    background-color: #eeeeee;
    counter-reset: exercise example;
}
.flushright {
    text-align: right;
}
p {
    text-indent: 1.7em;
}
#content {
    max-width: var(--content-max-width);
    padding: 0 var(--side-margins) 10px var(--side-margins);
    min-height: calc(100dvh - 115px);
    /* position: relative; */
    background-color: white;
    /* padding: 50px; */
}
div#margin {
    position: absolute;
    left: 1100px;
}
div#slides {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100dvw;
    height: 100dvh;
    display: none;
    opacity: 0;
    background-color: white;
}
div#slides.visible{
    display: block;
    opacity: 1;
}
.hide {
    display: none;
}
h1, h2, h3 {
    margin-top: 1.4em;
    background-color: grey;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: sans-serif;
}
h1 {
    /* margin-top: 0.5em; */
}
h2 {
    margin-top: 0em;
}
h4 {
    margin-top: revert;
    background-color: revert;
    padding: revert;
    color: #444444;
    border-bottom: solid black 1px;
    padding-bottom: 2px;
    font-family: sans-serif;
}
h5 > :first-child {
    display: none;
}
h5 {
    margin-top: revert;
    background-color: revert;
    padding: revert;
    font-style: italic;
    text-decoration: underline;
    color: #444444;
    font-size: 0.9em;
}
.copy-href {
    display: inline-block;
    font-style: normal;
    cursor: pointer;
    transform: scale(1, -1);
    margin-left: 0.3em;
    font-size: 0.8em;
    padding-top: 0.1em;
}
#alert-pane {
    position: fixed;
    bottom: -50px;
    left: 0;
    right: calc(100% - var(--content-max-width) - 2 * var(--side-margins));
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 12px;
    color: white;
    font-family: sans-serif;
    background-color: black;
    opacity: 70%;
    z-index: 50;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    transition: bottom 0.3s, opacity 0.8s;
}
#alert-pane.visible {
    bottom: 0px;
}
#alert-pane.transparent {
    opacity: 0%;
}
a {
    color: var(--ref-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--ref-color);
    text-decoration: none;
}
.reveal a {
    color: var(--ref-color);
}
mjx-container[jax="CHTML"][display="true"] {
    overflow-x: auto;
    overflow-y: hidden;
    /* margin-right: calc(100% - 600px) !important; */
}
.mid-lift {
    box-shadow: rgb(0 0 0 / 80%) 0px 1px 6px 0px;
}
.mid-lift:hover {
    box-shadow: rgb(0 0 0 / 75%) 0px 2px 8px 0px;
}
.lift {
    box-shadow: rgb(0 0 0 / 80%) 0px 0px 12px 0px;
}
.max-lift {
    box-shadow: rgb(0 0 0 / 60%) 0px 0px 24px 0px;
}
span.navlink-label {
    display: none;
}
#sitenav {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    font-style: italic;
    font-family: sans-serif;
    height: 66px;
    width: calc(100% - 112px);
}
#sitenav * {
    color: var(--accent-color);
}
#sb-toc a:hover {
    text-decoration: underline;
}
#sb-toc .current > a {
    font-weight: bold;
}
#sb-toc .current:hover > a {
    text-decoration: none;
}
#sb-toc .current > a::before {
    content: "▶️ ";
}
div.sitenav {
    display: inline;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.bfnav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 12px;
    max-width: var(--content-max-width);
    left: var(--side-margins);
    width: calc(100% - 2 * var(--side-margins));
    z-index: 3;
}
span.navlink {
    flex: inherit;
}
.bfnav .navlink a {
    overflow: hidden;
    display: block;
    border-radius: 25px;
    box-shadow: black 0px 2px 12px -4px;
    transition: box-shadow .2s;
}
.bfnav .navlink a:hover {
    box-shadow: black 0px 3px 12px -3px;
}
#sidebar {
    position: fixed;
    top: 0px;
    height: 100dvh;
    padding-bottom: 50px;
    width: 300px;
    overflow-y: auto;
    left: -300px;
    z-index: 10;
    background-color: rgb(50, 50, 50);
    transition: left 0.3s, box-shadow 0.3s;
    color: white;
    font-family: sans-serif;
    font-size: 0.9em;
}
#sb-toggle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}
#sidebar a {
    color: inherit;
}
#TOC a {
    color: inherit;
}
#TOC a:hover {
    text-decoration: underline;
}
.card {
    border: solid 1px lightgray;
    display: block;
    border-radius: 2px;
    box-shadow: darkgrey 0px 0px 6px -4px;
    text-align: center;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.card p {
    text-align: initial;
}
.card:hover {
    box-shadow: grey 0px 2px 8px -4px;
}
a.card {
    color: var(--text-color);
}
a.card:visited {
    color: var(--text-color);
}
.card img {
    display: block;
    width: 100%;
}
.card .title {
    padding: 12px;
    display: block;
    background-color: #efefef;
}
figure {
    /* color: grey; */
    font-size: 0.9em;
    margin-left: 1.7em;
    margin-right: 1.7em;
}
figure > img {
    border-radius: 6px;
    color: grey
}
.result {
    font-size: 0.9em;
    padding-left: 1em;
}
.result span {
    display: none;
}
.result::before {
    content: "Solución";
    display: inline-block;
    text-decoration: underline;
}
.result:hover span{
    display: inline-block;
}
.result:hover::before {
    display: none;
}
#sidebar header {
    position: relative;
    display: block;
    width: calc(100% - 20px);
    background-color: var(--accent-color);
    margin: 0px 0px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 50px;
}
#sidebar h1 {
    margin: 0.5em 0em;
}
#sb-toc {
    text-align: initial;
    margin-bottom: 80px;
}
#sb-toc ul {
    margin: 0px;
    padding: 0px; 
}
#sb-toc li {
    margin: 0px;
    padding: 0px;
}
#sb-toc a {
    display: block;
    padding: 6px 12px;
    padding-left: 24px;
    text-decoration: none;
}
#sb-toc > ul > li > a {
    display: block;
    padding: 6px 12px;
    background-color: #666;
}
#sb-toc > ul > li > ul > li > a {
    display: block;
    padding: 6px 12px;
    padding-left: 24px;
    background-color: #ddd;
    color: #444;
}
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0px;
    position: relative;
    /* width: 600px; */
    max-width: calc(var(--content-max-width) + 2 * var(--side-margins));
    padding: 12px 0px 70px 0px;
    font-family: sans-serif;
    background-color: #f8f8f8;
    border-top: 1px solid lightgrey;
}
hr {
    margin: 0px;
}

#content > hr {
    display: none;
}
footer a {
    margin: 0px 12px;
    text-decoration: none;
    color: grey;
}
footer a:visited {
    margin: 0px 12px;
    color: grey;
}
span.theorem {
    font-style: italic;
    padding: 6px;
    border-radius: 6px;
    display: block;
    background-color: #eeeeff;
    text-indent: initial;
}
span.theorem::before {
    content: "Theorem: ";
    content: attr(data-label);
    font-style: normal;
    font-weight: bold;
}
span.theorem.important-definition {
    font-style: revert;
    background-color: #fff5e5;
}
.note {
    margin: 1em 0 1em calc(1.7em + 3px);
    padding: 0px 16px 1px;
    border-radius: 4px;
    border-left: 3px solid;
    border-color: var(--note-color);
    background-color: color-mix(in srgb, var(--note-color) 20%, white);
    color: #4e4d4d;
    font-size: 0.9em;
    position: relative;
}
.note::before {
    content: "📝 " attr(data-label);
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    background-color: var(--note-color);
    color: color-mix(in srgb, var(--note-color) 50%, black);
    padding: 2px 6px;
    top: -1px;
    font-size: 0.9em;
    position: relative;
    left: -19px;
    width: calc(100% + 23px);
    border-radius: 4px 4px 0 0;
}
/* .note p {
    text-indent: initial;
} */
li p, .note p, .math, .theorem, blockquote p {
    text-indent: initial;
}
blockquote {
    margin: 1em 0 1em calc(1.7em + 3px);
    padding-left: 16px;
    border-left: 3px solid #e6e6e6;
    color: #606060;
    font-size: 0.9em;
}
ol, ul {
    margin-left: 2.7em;
}
dd > ul, dd > ol {
    margin-left: revert;
}
.note > :first-child {
    margin-top: 8px;
}
.note.example {
    --note-color: var(--note-example-color);
}
.note.example::before {
    counter-increment: example;
    content: "✅ " attr(data-label) " " counter(example);
}
.note.warning {
    --note-color: var(--note-warning-color);
}
.note.warning::before {
    counter-increment: example;
    content: "⚠️ " attr(data-label);
}
.note.alert {
    --note-color: var(--note-alert-color);
}
.note.alert::before {
    counter-increment: example;
    content: "🚨 " attr(data-label);
}
.exercise {
    font-size: 0.9em;
    border-bottom: solid black 1px;
    position: relative;
    margin: 1em 1.7em;
}
.exercise::before {
    counter-increment: exercise;
    content: var(--sec-number) "." counter(exercise) " " attr(data-label);
    border-bottom: solid black 1px;
    display: block;
    font-weight: bold;
    padding-bottom: 2px;
}
.exercise > :first-child {
    margin-top: 4px;
    text-indent: 0px;
}
.exercise > * {
    margin-bottom: 4px;
}
.exercise .hint::before {
    padding: 0px 4px;
}
.exercise .hint {
    border: none;
    background-color: #eeeeee;
}
.exercise .hint:focus {
    border: solid grey 1px;
    background-color: white;
}
.exercises ~ * li {
    position: relative;
}
.hint {
    font-size: 0.9em;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 3px;
    display: block;
    color: #5e5e5e;
    background-color: white;
    max-width: 100%;
    border: solid 1px;
    border-color: inherit;
}
.hint:hover {
    box-shadow: #66666680 0px 2px 4px 0px;
}
.hint:focus {
    box-shadow: #66666680 0px 2px 4px 0px;
}
.hint::before {
    content: "💡";
    padding: 0px 6px;
}
.hint > :last-child {
    margin-bottom: 0px;
}
.hint > :first-child {
    margin-top: 0px;
}
.hint > * {
    display: none;
    text-indent: 0px;
}
.hint > ol, .hint > ul {
    margin-left: 12px;
}
.hint:focus {
    z-index: 50;
}
.hint:focus > * {
    display: block;
    padding: 4px;;
}
.hint::before {
    content: "💡";
}
.hint:focus::before {
    display: none;
}
.ggb {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
    max-width: 600px;
    margin:auto;
    margin-top: calc(25px + 16px);
}
.ggb::before {
    content: attr(data-label);
    top: -25px;
    position: relative;
    padding: 4px 8px;
    font-family: sans-serif;
    display: block;
    background-color: #aaaaaa;
    border-radius: 6px 6px 0 0;
    border: solid grey 1px;
    color: white;
    font-size: 0.9em;
}
.ggb > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
table {
    width: auto !important;
    overflow-y: hidden;
}
col {
    width: auto !important;
}
dt {
    font-weight: bold;
}
@media (max-width: 800px) {
    #alert-pane {
        left: 0;
        right: 0;
    }
    .no-toc #sidebar {
        width: 100%;
    }
    div.bfnav {
        width: calc(100% - 2 * var(--side-margins));
    }
    .button#toggle-sb {
        right: var(--side-margins);
    }
    footer {
        width: 100%;
    }
}
@media (max-width: 600px) {
    :root {
        --side-margins: 12px;
        --footer-height: 100px;
        --button-img-width: 42px;
    }
    body {
        font-size: 0.9em;
    }

    .exercise {
        margin-left: initial;
        margin-right: initial;
    }
    header {
        margin-bottom: 4.5em;
    }
    .note {
        margin: 1em 0;
    }
    #content {
        padding: 0 12px 1px;
        min-height: calc(100dvh - 106px);
    }
    ol, ul {
        margin-left: initial;
    }
    dd {
        margin-inline-start: 10px;
    }
    div.bfnav {
        width: calc(100% - 24px);
        left: 12px;
    }
}
@media (min-width: 1100px) {
    #alert-pane {
        left: var(--sidebar-width);
        right: calc(100% - var(--sidebar-width) - var(--content-max-width) - 2 * var(--side-margins));
    }
    body {
        padding-left: 300px;
        width: calc(100% - 300px);
    }
    #sidebar {
        left: 0px;
        transition: left 0.0s;
    }
    .button#toggle-sb {
        display: none;
    }
    .button#toggle-slides {
        right: calc(100% - var(--content-max-width) - var(--side-margins) - var(--sidebar-width));
    }
    div.bfnav{
        width: calc(100% - 400px);
        left: 350px;
    }
}
@media print {
    #sidebar {
        display: none;
    }
    #toggle-sb {
        display: none;
    }
    #toggle-slides {
        display: none;
    }
    #sb-toggle {
        display: none;
    }
    #bfnav {
        display: none;
    }
}