<link rel="icon" type="image/png" href="/favicon.png" >
<link rel="stylesheet" href="https://unpkg.com/reveal.js@^4//dist/theme/white.css" id="theme">
<link rel="stylesheet" href="/eduki.css">
<style>
    .reveal {
        font-size: 1.2em;
    }
    body {
        padding-left: 0px;
        width: 100%;
    }
    .reveal h1,
    .reveal h2,
    .reveal h3 {
        color: white;
    }
    .reveal a {
        color: initial;
    }
    .toggle {
        display: block;
    }
    .exercise::before {
        content: attr(data-label);
    }
    /* .reveal .slides>section.present, .reveal .slides>section>section.present {
        overflow: overlay;
    } */
    .scrollable {
        bottom: 0px;
        overflow-y: auto  !important;
        overflow-x: auto !important;
    }
    .reveal h1 > .math, .reveal h2 > .math, .reveal h3 > .math, .reveal h4 > .math, .reveal h5 > .math, .reveal h6 > .math {
        text-transform: none;
    }
    .hide-slides {
        display: none !important;
    }
    figcaption {
        display: none;
    }
    .theorem {
        border: solid 1px #444;
    }
    .hint {
        display: none;
    }
    .ggb {
        position: relative;
        width: 100%;
        max-width: initial;
        aspect-ratio: 3/2;
        margin: auto;
        margin-top: 0px;
    }
    .ggb::before {
        top: -31px;
    }
    .ggb > iframe {
        max-width: 100% !important;
        max-height: 100% !important;
    }
    /* Toggles */
    .toggle > * {
        display: revert;
    }
    .note.toggle span.math { /* Problem with math size */
        font-size: 0.9em;
    }
    .note.toggle {
        width: initial;
        padding: 0px 16px 1px;
    }
    .note.toggle::before {
        padding: 2px 6px;
        left: -19px;
        background-color: var(--note-color);
        top: 0px;
    }
    mjx-container[jax="CHTML"][display="true"] {
        font-size: 100% !important;
        overflow-x: auto;
        overflow-y: hidden;
        /* margin-right: calc(100% - 600px) !important; */
    }
</style>
<script>
    window.MathJax = {
        loader: {load: ['[tex]/physics']},
        tex: {packages: {'[+]': ['physics']}}
    };
</script> 