    <div id="alert-pane">Link copied!</div>
</div>
<footer>
    <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"> CC BY-SA 4.0 </a>
    <a href="https://gitlab.com/Eduki/calculo/-/blob/main/AUTHORS.md">Authors</a>
    <a href="mailto:jagoba.apellaniz@ehu.eus">Contact</a>
</footer>