<div id="slides">    
    <iframe height="100%" width="100%"></iframe>
</div>
<div id="stop-slides" class="button hide" onclick="toggleSlides()">
    <img class="mid-lift" src="/icons128.png">
</div>

<nav id="sidebar" class="sidebar">
    <header id="sb-header">
        <div id="sb-title"></div>
        <div id="sb-header-buttons">
            <div id="itineraries" class="button mid-lift">
                <a href="/index.html">
                    <img src="/icons128.png">
                </a>
            </div>
            <div id="toggle-long" class="button mid-lift" onclick="toggleLong()">
                <img src="/icons128.png">
            </div>
            <div id="play-slides" class="button mid-lift" onclick="toggleSlides()">
                <img class="mid-lift" src="/icons128.png">
            </div>
        </div>
    </header>
    <nav id="sb-toc" ></nav>
</nav>

<div id="margin"></div>

<div id="content">
    <div id="buffer" style="height:1px;"></div>
    <div id="sb-toggle" onclick="toggleSidebar()"></div>
    <div id="toggle-sb" class="button mid-lift" onclick="toggleSidebar()">
        <img src="/icons128.png">
    </div>